@import "tailwindcss";

:root {
  --background: #efead2;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-bg: var(--primary_bg);
  --font-sans: var(--font-anton-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #efead2;
    --foreground: #000000;
  }
}

@font-face {
  font-family: "Panchang";
  src: url(/font/Panchang/Panchang-Variable.ttf), format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Pencerio";
  src: url(/font/Pencerio/Pencerio-Hairline.otf), format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Telma";
  src: url(/font/Telma/Telma-Variable.ttf), format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url(/font/Supreme/Supreme-Variable.ttf), format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "SupremeBold";
  src: url(/public/font/Supreme/Supreme-Extrabold.otf), format("opentype");
  font-style: normal;
  font-weight: 800;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Supreme", sans-serif;
}

.panchang {
  font-family: "Panchang", sans-serif;
}

.telma {
  font-family: "Telma", sans-serif;
}

.pencerio {
  font-family: "Pencerio", sans-serif;
}

.supremebold {
  font-family: "SupremeBold", sans-serif;
}
